body{
    margin: 0;
}

.banniere{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
}

main{
    padding-left: 50px;
    padding-right: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}
