body{
    margin: 0;
}

.accueil{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main{
    padding-left: 50px;
    padding-right: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    main{
        padding-left: 20px;
        padding-right: 20px;
    }
    .accueil{
        gap: 20px;
    }
    .accueil h1{
        font-size: 20px;
    }
    .accueil h2{
        font-size: 18px;
    }
}
