.collapse__container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  width: 100%;
  border-radius: 5px;
}

.collapse{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.collapse__container {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.collapse h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

.collapse p {
    font-family: 'Montserrat', sans-serif;
}

  .collapse__checkbox {
      display: none;
  }

  .collapse__container__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
  }

  .fleche {
    position: absolute;
    right: 220px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .collapse__checkbox:checked + .collapse__container__title .fleche {
      transform: rotate(180deg);
  }

  .collapse__content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease, padding 0.3s ease;
      background-color: #f9f9f9;
      border-radius: 5px;
  }

  .collapse__checkbox:checked ~ .collapse__content {
      max-height: 100px;
      padding: 10px 15px;
  }
