.collapse__container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  width: 100%;
  border-radius: 5px;
  height: 52px;
}


.collapse{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapse p {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.fleche {
    margin-right: 10px;
    cursor: pointer;
}

.collapse h1 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    color: white;
  }

.collapse__content{
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.fleche.open {
  transform: rotate(180deg);
  transition: ease-in-out 0.3s;
}

.fleche{
  transition: ease-in-out 0.3s;
}