.erreur404{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.erreur{
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.erreur404 h1{
    color:#FF6060;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 150px;
}

.erreur404 p {
    font-size: 36px;
    color: #FF6060;
    font-family: "montserrat", sans-serif;
}

.erreur404  a{
    color: black;
    font-family: "montserrat", sans-serif;
}

