header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    gap: 57px;
}

nav a:hover{
    transition: 0.3s;
    border-bottom: black solid 1px;
}

@media screen and (max-width: 768px) {
    header{
        padding-left: 10px;
        padding-right: 10px;
    }
}