.page-logement{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logement{
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.collapse-container-title h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.carousel-image{
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
    transition: 0.3s ease;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
  }

.carousel-button.prev {
    left: 100px;
  }

  .carousel-button.next {
    right: 100px;
  }

.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titre {
    font-family: 'Montserrat', sans-serif;
    color:#FF6060; 
    margin: 0;
    display: flex;
    justify-content: center;
}

.location {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}


.tag{
    background-color: #FF6060;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
}

.host{
    color:#FF6060;
    font-family: 'Montserrat', sans-serif;
}

.host-picture{
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50px;
}

.profil{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logement-infos{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.description{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    padding-left: 10px;
}

.collapse-container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.collapse-checkbox {
    display: none;
}

.collapse-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.fleche2 {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.fleche2.open{
    transform: rotate(180deg);
}

.collapse-content {
    background-color: #F6F6F673;
    border-radius: 5px;
}

.collapse-checkbox:checked ~ .collapse-content {
    max-height: 100px;
    padding: 10px 15px;
}

.equipement-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
}

.equipement{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-left: 10px;
}

.bloc-collapse{
    display: flex;
    flex-direction: row;
    gap: 80px;

}

.collapse_logement {
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.collapse-content p{
 padding-left: 10px;
 font-family:'Montserrat', sans-serif;
}

.lieu{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}